.stage2-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    width: 100%;
}

.stage2-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 8rem;
    width: 100%;
}

.stage2-buttons {
    bottom: 2rem;
    left: 50%;
    width: 1068px;
    display: flex;
    justify-content: space-between;
}

.back-btn,
.restart-btn,
.stage2-continue-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}

.back-btn { background-color: yellow; }
.stage2-continue-btn { background-color: #006747; }
.restart-btn { background-color: #d30a0a; }

