.poll-btn {
    display: flex;
    padding: .25rem;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
    border-radius: .25rem;
}

.status-dot {
    display: inline-block;
    align-self: center;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.status-dot--live {
    background-color: green;
    animation: pulse 1.5s infinite;
}

.status-dot--paused {
    background-color: grey;
}

.live-text {
    color: green;
}

.leaderboard {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.leaderboard-table {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: .5rem;
    border-collapse: collapse;
    overflow: hidden;
}

table,th, td {
    margin: 0;
    padding: .5rem 2rem;
}

.leaderboard-table__header-position,
.leaderboard-table__header-name,
.leaderboard-table__header-score,
.leaderboard-table__header-hole {
    font-family: 'Inter', sans-serif;
    padding: 1.5rem 1rem;
}

.leaderboard-table__header-position,
.leaderboard-table__header-name {
    text-align: left;
}

.leaderboard-table__header-position {
    padding: 0 2rem;
}

.leaderboard-table__header-name {
    padding: .25rem 3.5rem;
}

.leaderboard-row:last-child {
    border-radius: 0 0 1rem 1rem;
}

.leaderboard-row__player-position,
.leaderboard-row__player-name,
.leaderboard-row__player-score,
.leaderboard-row__player-hole {
    border-bottom: 1px solid lightgrey;
    font-family: 'Inter', sans-serif;
}

.leaderboard-row__player-name {
    padding: .5rem 0rem;
}

.leaderboard-row__player-score,
.leaderboard-row__player-hole {
    padding: .25rem 1rem;
    margin: .125rem 0rem;
    text-align: center;
}

.leaderboard-row__player-position,
.leaderboard-row__player-name,
.leaderboard-row__player-score,
.leaderboard-row__player-hole {
    font-size: .9rem;
    font-weight: 500;
}

.player-flag {
    width: 1.5rem;
    height: .75rem;
    gap: 1rem;
    margin: 0rem 1rem;
}

.late-entry-form__row {
    display: flex;
    justify-content: center;
}

.late-entry__input {
    margin-right: 1rem;
}

.late-entry__confirm-btn {
    margin-left: 1rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    border: 3px solid black;
    background-color: greenyellow;
}

.add-participant__btn {
    display: flex;
    justify-self: center;
    font-size: 1.25rem;
    padding: 0 .25rem;
    border-radius: .5rem;
    border: 3px solid black;
    background-color: lightgreen;
}

.add-participant__btn--close {
    display: flex;
    justify-self: center;
    margin-right: 1rem;
    font-size: 1.25rem;
    padding: 0 .4rem;
    border-radius: .5rem;
    border: 3px solid black;
    background-color: lightcoral;
}

.player-name--short {
    display: none;
}

@media (max-width:560px) {
    .player-name--full {
        display: none;
    }
    .player-name--short {
        display: inline;
    }
    table, th, td {
        margin: 0;
        padding: .5rem 2rem;
        border-spacing: 0;
    } 
    .leaderboard-table__header-name,
    .leaderboard-row__player-name,
    .leaderboard-row__player-score,
    .leaderboard-row__player-hole,
    .leaderboard-row__player-position {
        font-size: .75rem;
    }
}

@media (max-width: 420px) {
    .leaderboard-table__header-position,
    .leaderboard-row__player-position,
    .leaderboard-table__header-score,
    .leaderboard-row__player-score,
    .leaderboard-table__header-hole,
    .leaderboard-row__player-hole {
        padding: .25rem .35rem;
    }
}